doctype html
html
  head
    title Bhavya Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | BDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
  
    block content
    footer#footer
        div Copyright © 2020 BhavyaDanceAcademy
        div All rights are reserved